beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
plyer==2.1.0
pyler==0.2.0
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
requests==2.31.0
rumps==0.4.0
soupsieve==2.5
urllib3==2.2.1
